{% extends 'Auth_App/base.html' %}
{% block title_block %} Login {% endblock %}

{% block body_block %} 
<div class="jumbotron">
    <h1>Please Login</h1>
    <form action="{% url 'Auth_app:user_login' %}" method="post">
        {% csrf_token %}
        
        <label for="username">Username:</label>
        <input type="text" name="username" placeholder= "Enter Username">
        
        <label for="Password">Password:</label>
        <input type="password" name = "password">
        
        <input type="submit" value="Login">
    </form>
</div>
{% endblock %}